body {
  /* background-color: rgb(108, 212, 212); */
   background-position: center top;
   margin: 0;
   height: 100vh;
   background: linear-gradient(to bottom right, rgb(80, 138, 80), rgb(17, 255, 0))

   
}

.c_b_bg {
   background-color: rgb(61, 107, 62);
   border: 2px solid rgb(0, 0, 0);
   border-radius: 10px;
   font-weight: 800;
   color: black;
   text-align: center;
}

.detail_bg {
   color: black;
   font-weight: 700;
   border: 1px solid black;
   border-radius: 5px;
}
.detail_bg:hover {
   background-color: black;
}

.msje {
   font-weight: 700;
   font-family: Tahoma;
   font-size: 18px;
   text-align: center;
}

figcaption {
   font-weight: 700;
   color: black;
}

.img_nav {
   margin-right: 10px;
}

.item-width {
   width: 50px;
}

.cb_size {
   max-width: 40%;
}

.cart-right > img {
   margin: right;
}